@font-face {
  font-family: 'comfortaa';
  src: url('fonts/Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

canvas {
    padding: 10px 0;
}

.graph {
    text-align: left;
    width: 100%;
    color: white;
}

.graph-grid {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    width: 77vw;
    height: 100vh;
    gap: 15px;
    padding: 25px;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: comfortaa, sans-serif;
}

.top-info-text {
    color: white;
    font-size: 24px;
    font-family: comfortaa, sans-serif;
    margin-left: 10px;
}

.bottom-info-text {
    color: grey;
    font-size: 18px;
    font-family: comfortaa, sans-serif;
    margin-left: 10px;
}

.footer {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: comfortaa, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar {
    text-align: center;
    position: relative;
    width: 15%;
    background-image: linear-gradient(#03382a, #02291f);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 25px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.list-item {
    color: white;
    font-size: 20px;
    font-family: comfortaa, sans-serif;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.full-page-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background-image: linear-gradient(#033338, #022029);
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

body {
    text-align: center;
    height: 100%;
}

html {
    overflow-x: hidden;
    height: 100%;
}
