@font-face {
  font-family: 'comfortaa';
  src: url('fonts/Comfortaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

canvas {
    padding: 10px 0;
}

.time-info {
    text-align: center;
    position: relative;
    flex: 0 1 15%;
    padding: 25px;
    background-image: linear-gradient(#031d38, #021529);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    border: 2px solid #021529;
}

.time-button {
    padding: 10px;
    background: linear-gradient(#031d38, #021529);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: comfortaa, sans-serif;
    width: 100%;
    transition: background-color 0.5s ease;
}

.time-button:hover {
    background: #031d38;
}

.time-button.pressed {
    box-shadow: none;
    background: #021529;
}

.graph {
    text-align: left;
    flex: 0 1 55%;
    min-width: 0;
    min-height: 0;
    color: white;
}

.graph-grid {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    width: 77vw;
    height: 100vh;
    gap: 15px;
    padding: 25px;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: comfortaa, sans-serif;
}

.top-info-text {
    color: white;
    font-size: 24px;
    font-family: comfortaa, sans-serif;
    margin-left: 10px;
}

.bottom-info-text {
    color: grey;
    font-size: 18px;
    font-family: comfortaa, sans-serif;
    margin-left: 10px;
}

.footer {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: comfortaa, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar {
    text-align: center;
    position: relative;
    flex: 0 0 15%;
    padding: 25px;
    background-image: linear-gradient(#03382a, #02291f);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    border: 2px solid #02291f;
}

.side-button {
    padding: 10px;
    background: linear-gradient(#03382a, #02291f);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: comfortaa, sans-serif;
    width: 100%;
    transition: background-color 0.5s ease;
}

.side-button:hover {
    background: #03382a;
}

.side-button.pressed {
    box-shadow: none;
    background: #02291f;
}

.back-button {
    padding: 15px;
    margin-left: 30px;
    background: linear-gradient(#033338, #022029);
    border-radius: 5px;
    color: white;
    font-size: 22px;
    font-family: comfortaa, sans-serif;
    position: absolute;
    top: 25px;
    left: 7.5%;
    transform: translateX(-50%);
    transition: background-color 0.5s ease;
}

.back-button:hover {
    background: #033338;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.list-item {
    color: white;
    font-size: 20px;
    font-family: comfortaa, sans-serif;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.full-page-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(#033338, #022029);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    text-align: center;
    height: 100%;
}

html {
    overflow-x: hidden;
    height: 100%;
}
